.container-avatar {
    width: 144px;
    height: 144px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;
}

.container-avatar img{
    height: 100%;
}

.container-avatar{
    float:left;
    margin-right: 15px;
}

.modal-confirm {		
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}		
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.square {
	padding: 100px;
	margin: 30px 0px 0px 0px;
}
.yellow-bg{
	background-color: #f8bc3b;
}
.green-bg {
	background-color:#27ae60;
}
.gray-bg {
	background-color:#3a3a3a;
}
.white-bg {
	background-color:#fff;
}

.orange-bg {
	background-color:#db5940;
}

.lightyellow-bg {
	background-color:#fec400;
}

.lightblue-bg {
	background-color:#7ecefd;
}

.cyan-bg {
	background-color:#d1e1ed;
}

.darkblue-bg {
	background-color:#2c3e50;
}

.black-bg {
	background-color:#1f1f1f;
}

.blue-bg {
	background-color:#028ca6;
}

.img_admin {
	width: 50%;
	height: 50%;
}

#admin {
	text-align:center;
}

#admin h2 {
	color:#ffffff;
	letter-spacing: 4px;
	font-size:3em;
	font-weight:600;
	line-height:50px;
	padding: 25px 0px 10px 0px;
}

#admin p {
	font-size: 24px;
        font-weight: 600;
        line-height:50px;
	margin: 0px 0px 20px 0px;
	color: #96EABA;
}